*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: black;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items:flex-start;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style:armenian;
    margin:15px 15px ;
}

nav ul li a{
    text-decoration:wavy;
    color: white;
    font-weight: bold;
}

nav ul li a:hover{
    color:goldenrod ;
}

.detel{
    margin-left: 8%;
    margin-top: 15%;
    color: aliceblue;
}

.detel h1{
    font-size: 50px;
    color:aliceblue;
    margin-bottom: 20px;
}

span{
    color:rgb(252, 35, 108);
}

.detel p{
    color: wheat;
    margin: 22px;
}

.detel a{
    background: lightblue;
    padding: 10px 18px;
    text-decoration: dotted;
    font-weight: bold;
    color: black;
    display: inline-block;
    margin: 30px 5px;
    border-radius: 5px;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px ;
}

.images img{
    height: 90%;
    position: absolute ;
    left: 50% ;
    bottom: 0;
    transform: translateX(-50%) ;
    transition: bottom 1s, left 1s;
    border-radius: 100%;
}

.images:hover .shape{
    bottom: 100px;
}

.images:hover .Avatar{
    left: 45%;
}

.further{
    background-color: black;
}

.further h1{
    font-size: 50px;
    color:aliceblue;
    margin-bottom: 20px;
    padding-top: 80px;
}

.further span{
    margin-top: 80px;
    color:aqua;
    font-style:normal;
    margin: 30px 30px;
    text-decoration: underline;
    text-decoration-color: peru;
}

.further p{
    color: wheat;

}

.further1{
    background-color: black;    
}

.further1 ul{
    color: aliceblue;
}

.further1 h1{
    font-size: 50px;
    color:aliceblue;
    margin-bottom: 20px;
    padding-top: 80px;
}

.further1 span{
    margin-top: 80px;
    color:aqua;
    font-style:normal;
    margin: 30px 30px;
    text-decoration: underline;
    text-decoration-color: peru;  
}

.further2{
    background-color: black;
}

.further2 h1{
    font-size: 50px;
    color:aliceblue;
    margin-bottom: 20px;
    padding-top: 80px;
}

.further2 span{
    margin-top: 80px;
    color:aqua;
    font-style:normal;
    margin: 30px 30px;
    text-decoration: underline;
    text-decoration-color: peru;  
}

.further2 .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.further2 .box .dream{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.further2 .box .dream img{
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.further3{
    background-color: black; 
}

.further3 ul{
    color: aliceblue;
}

.further3 h1{
    font-size: 50px;
    color:aliceblue;
    margin-bottom: 20px;
    padding-top: 80px;
}

.further3 span{
    margin-top: 80px;
    color:aqua;
    font-style:normal;
    margin: 30px 30px;
    text-decoration: underline;
    text-decoration-color: peru;  
}

.container mt-3 contactContent h1{
    font-size: 50px;
    color:aliceblue;
    margin-bottom: 20px;
    padding-top: 80px;
}

.container mt-3 contactContent span{
    color:aqua;
    font-style:normal;
    margin: 30px 30px;
    text-decoration: underline;
    text-decoration-color: peru;
}
